// UGH COMPASS SHIZZ
@import "compass/reset";
@import "compass/css3";

// ROB MADNESS
$small12: 12px; $small14: 14px; $regular: 16px; $large20: 20px; $large24: 24px; $large60: 60px;
$wgrey: rgb(117, 102, 88);

// SETUP
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body { padding: 0; margin: 0; overflow-y: scroll; @include single-transition(all, ease, 0.3s); }
body, a, p, li, h1, h2, h3 { font:14px/18px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; color: #000; list-style: none; text-decoration: none; -webkit-font-smoothing: antialiased; }
h1, h2, h3, nav, .practice ul, .category { -webkit-font-smoothing: antialiased; }
body.hidden, .hidden { opacity: 0; @include single-transition(all, ease, 0.2s); }
::-moz-selection { background: lighten($wgrey, 50%); color: $wgrey; }
::selection { background: lighten($wgrey, 50%); color: $wgrey; }

// INTRO
#intro { width: 100%; position: fixed; z-index: 400; top: 0px; padding: 0; height:700px;

	.swipe { overflow: hidden; visibility: hidden; position: relative; z-index: 300;
		h2 {  text-align: center; width: auto; font-size: 24px; padding: 28px 45px 25px 45px; background: white; display: inline-block; }
	}
	.swipe-wrap { overflow: hidden; position: relative; }
	.swipe-wrap > div { float:left; width:100%; position: relative; text-align: center; }
	.first { background: url('../images/one.jpg') no-repeat 0 0; @include background-size(cover); }
	.second { background: url('../images/two.jpg') no-repeat 0 0; @include background-size(cover); }
	#next { position: absolute; z-index: 500; top:100px; right:0px; width:50%; height:100%; opacity: 0;
		&:hover { cursor:url(../images/next.png), auto; }
	}
	#prev { position: absolute; z-index: 500; top:100px; left:0px; width:50%; height:100%; opacity: 0;
		&:hover { cursor:url(../images/prev.png), auto; }
	}
}

#nav { width:100%; position: absolute; z-index: 900; bottom:0px; margin-bottom: 20px; @include single-transition(all, ease, .3s);
	nav { max-width:1200px; margin: 0 auto; letter-spacing: 1px; }
	li { display: inline-block; padding: 5px 3px 5px 7px; /* color: $wgrey; */ }
	a { color: #fff; @include single-transition(all, ease, .3s); }
	a.active { border-bottom: 1px solid #fff; color: #fff; }
	&.on {  margin-bottom: -90px;
		a { color:$wgrey; }
	}
	&.top { position:fixed; top:30px; margin-bottom: 0px; bottom: inherit; @include single-transition(all, ease, 0s);
		a { color:$wgrey; }
		a.active { border-bottom: 1px solid #000; color: #000; }
	}
	#second { a.active { border-bottom: none; } }
}
#second { display:none; position: absolute;
	&.home { margin-top: 10px;
		li { display: block; padding: 0px 5px; }
		li a { font:22px/29px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; letter-spacing: .3px; color:$wgrey; @include single-transition(all, ease, 0.2s); }
		li a:hover { color:#000; }
	}
}
.practice { margin-left: 25%; margin-top: 20px;
	nav { width:100%; position:fixed; left:0; top:123px; margin: 0px; padding: 0; bottom: inherit; @include single-transition(all, ease, 0s); }

	ul.menu { max-width:1200px; margin: 0 auto; letter-spacing: 1px; text-align: left; display: none;
		li { display: block; padding: 0px 5px; }
		li a { letter-spacing: 1px; color:$wgrey; @include single-transition(all, ease, 0.2s);
			&:hover { color: #000; }
			&.active { color: #000; }
		}
	}

	#studio, #people, #awards, #publications, #contact { text-align: left; margin-bottom: 100px; color:$wgrey;
		p, h4 {  }
		h3 { letter-spacing: .3px; margin-bottom: 20px; color:$wgrey; padding-right: 30px;  }
		img {  }
		.left { display:inline-block; vertical-align:top; width:49%; }
		.right { display:inline-block; vertical-align:top; width:49%; text-align: right; padding-right: 50px; }
		.person, .press { display:inline-block; vertical-align:top; width: 30%; padding-right: 20px; margin-bottom: 30px; }
	}
	#studio { margin-top: -25px;
		h3 { line-height: 21px; }
	}
	#people, #publications {
		h4, p { color:$wgrey; margin-bottom: 30px; font:14px/19px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; letter-spacing: .3px; }
		a { font:14px/19px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; color: #000; @include single-transition(all, ease, 0.2s); border-bottom: 1px solid #fff; }
		a:hover { border-bottom: 1px solid $wgrey; }
	}

	#awards { margin-bottom: 150px;
		ul {
			li { line-height: 26px; color: $wgrey; }
			span { width:80px; display: inline-block; }
		}
	}

	#contact {
		display: block; height:600px; background: $wgrey; position: relative;
		a { bottom:0px; position: absolute; margin-bottom: -35px; }
	}

}

a.logoToggle {  color: #000 !important; }

a.introToggle {
	span { display: inline-block; vertical-align: middle; margin-left:5px; width:20px; height:15px; background: url(../images/top.svg) 0 0 no-repeat; @include single-transition(all, ease, 0.2s); }
	&:before { content: 'see more'; }
	&.locked {
		span { background: url(../images/top.svg) 0 -15px no-repeat; }
	}
	&.locked:before { content: ''; }
	&.locked.past:before { content: 'up'; }
}


#page { background: white; position: relative; padding-top: 130px; width:100%; margin:0 auto; padding-left: 5%; padding-right: 5%; z-index: 500; bottom: 0; margin-top: 700px; min-height: 700px;
	.home {}
	.projects { margin-top: 40px; }
	.project, .news { margin-top: 20px; }
	.projects #container { width:1300px; margin: 0 auto; }
}

#container { text-align: center; }

h1 {
  &.page-title {
	z-index: 200;
	position: fixed;
	font:$large20/22px "Graphik-Regular", "Helvetica-Neue", arial, sans-serif;
	text-align: center;
	padding: 0 33.33%;
	top: 50%;
	display: none;
  }
}

.slide-title {
  text-align: center;
  width: auto;
  h2 {
	font-size: 24px;
	padding: 28px 45px 25px 45px;
	background: white;
	display: inline-block;
  }
}

.logo {
  //background-image: url(../images/svg/logo.svg);
  position: absolute;
  z-index: 300;
  top: 50px;
  width: 100%;
  height: 10px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 12px;
  //

}


// Page elements

footer { background: white; position: relative; width: 100%; z-index: 500; padding: 60px 0 100px 0;
	#footer { width:100%; padding-left: 7px; padding-right:5%; text-align: left;
		p { padding-bottom: 7px; }
		.social { display: inline-block; width: 25%;
			a { display: block; }
		}
		address { display: inline-block; width: 30%; }
		.contact { display: inline-block; width: 30%;
			a { white-space: nowrap; }
		}
		#facebook, #twitter, #vimeo { text-indent: -9999px; display: inline-block; width:20px; height:20px; margin: 0 4px; background:#e6e6e6; line-height: 24px; background: transparent url(../images/social.svg) 0 0 no-repeat; 
  background-image: transparent url(../images/social.png) 0 0 no-repeat, none; -webkit-filter: grayscale(100%); opacity:.6;
			&:hover { opacity: 1; -webkit-filter: grayscale(0%); }
		}
		#facebook { margin-left: -5px; }
		#twitter { background-position: -20px 0; }
		#vimeo { background-position: -40px 0; margin-right: 10px; }
	}
	a { @include single-transition(all, ease, 0.2s); }
	a:hover { color: $wgrey; }

}


.item { margin-bottom: 60px;
	.project-thumbnail { height: 280px; text-align: center;
		&:hover {

			h3 { opacity: 1; @include single-transition(all, ease, 0.2s); }
		}

		h3 {
			@include single-transition(all, ease, 0.2s);
			position: relative;
			z-index: 9999;
			//@include regular-type;
			padding: 18px 30px 16px 30px;
			background: white;
			display: inline-block;
			text-align: center;
			opacity: 0;
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

.projects .item {
	// background: aqua;
	width: 280px;
	height: 280px;
	z-index: 300;
	margin-bottom: 40px;
	text-align: center;
	.project-thumbnail {
		&:hover {

			h3 { opacity: 1; @include single-transition(all, ease, 0.2s); }
		}
		h3 {
			padding: 0;
			width: 100%;
			height: 100%;
			background: rgba(255,255,255,.8);
			padding-top: 150px;

		}
	}
}

// isotope animation and filtering
.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
.isotope, .isotope .isotope-item { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -ms-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s; }
.isotope { -webkit-transition-property: top, left, opacity; -moz-transition-property: top, left, opacity; -ms-transition-property: top, left, opacity; -o-transition-property: top, left, opacity; transition-property: top, left, opacity; }
.isotope .isotope-item { -webkit-transition-property: top, left, opacity; -moz-transition-property: top, left, opacity; -ms-transition-property: top, left, opacity; -o-transition-property: top, left, opacity; transition-property: top, left, opacity; }


.project {
	.textwrap { width:100%; position: fixed; left:0; top:73px; margin: 0px; padding: 0; bottom: inherit; z-index:100; }
	.text { max-width:1200px; margin: 0 auto; letter-spacing: 1px; text-align: left; padding: 7px;
		div { opacity: 1; @include single-transition(all, ease, 0.3s); width: 25%; z-index: 1;
			&.hide { opacity: 0; }
		}
		.category { margin:20px 0 60px; display: block; color: $wgrey; }
		h1 { font:22px/29px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; margin-bottom: 50px;  }
		p { margin-bottom: 20px; font:14px/19px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; letter-spacing: .7px; color:$wgrey; }
		a { font:14px/19px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; letter-spacing: .7px; color:$wgrey; display: inline-block; padding: 5px 0 0 0; border-bottom: 1px solid #fff; width: inherit;  @include single-transition(all, ease, 0.2s); }
		a:hover { border-bottom: 1px solid $wgrey; }
		a.back {
			&.hide { opacity: 0; }
		}
		div.links { }
		a.info {  }
		a.on { position: absolute; top: 50px; z-index: 400; }

	}
	.images { width:70%; margin-left:30%; @include single-transition(all, ease, 0.3s);
		p.caption { padding-top: 10px; font:14px/19px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; letter-spacing: .7px; color:$wgrey; opacity: 0; @include single-transition(all, ease, 0.3s); }


		.one { margin-bottom: 30px; @include single-transition(all, ease, 0.3s);
			img { z-index: 300; max-width: 100%; }
			&:hover { p.caption { opacity: 0; } }
		}
		.two { margin-bottom: 30px; @include single-transition(all, ease, 0.3s);
			div { width:40%; display: inline-block;
				img { max-width: 100%; z-index: 300; }
				&:first-child {
					margin-right: 50px; @include single-transition(all, ease, 0.3s);
				}
				&:hover { p.caption { opacity: 0; } }
			}

		}
		&.large { width:100%; margin-left:0;
			.one { margin-bottom: 100px;
				img { }
			}
			.two { margin-bottom: 100px;
				div { width:40%;
					img { max-width: 100%; }
					&:first-child {
						margin-right: 80px;
					}
				}
			}
			p.caption { opacity: 1; }
		}
	}
}

.news {
	.full { width: 100%; margin-bottom: 100px;
		.image { width:90%; margin: 0 auto;
			img { width: 100%; max-width: 100%; }
			h2 { position:absolute; text-align: center; width: auto; font-size: 24px; padding: 28px 45px 25px 45px; background: white; display: inline-block;}
		}
		.text { width: 90%; margin: 0 auto; text-align: left; margin-top: 50px;
			.profile { display: inline-block; vertical-align: top; width:30%; padding-left: 100px; padding-right: 100px;
				img { border-radius: 50px; margin-bottom: 10px; }
				p { opacity:0; color:$wgrey; margin-bottom: 30px; font:14px/19px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; letter-spacing: .7px; @include single-transition(all, ease, 0.5s); }
				span { color:#000; }
			}
			.intro { display: inline-block; vertical-align: top; width:60%; padding-left: 80px;
				p, a { font:16px/24px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; letter-spacing: .3px; margin-bottom: 20px; color:$wgrey; }
				a { margin-top: 20px; display: inline-block; border-bottom:1px solid #fff; @include single-transition(all, ease, 0.2s); }
				a:hover { border-bottom:1px solid $wgrey; }
				a:before { content: 'Read more...'; }
			}
		}
		&:hover {
			.profile p { opacity: 1; }
		}
	}

	.left, .right { width: 90%; margin: 0 auto; margin-bottom: 130px;


		.text { display: inline-block; vertical-align: top; width:49%; text-align: left; padding: 30px 70px 0;
			.date { opacity:0; display: block; margin-bottom: 20px; text-transform: uppercase; color: $wgrey; font-size: 12px; letter-spacing: 1px; @include single-transition(all, ease, 0.5s); }
			img { opacity:0; border-radius: 25px; display: inline-block; vertical-align: middle; margin-right: 15px; margin-left: -70px; margin-bottom: 30px; @include single-transition(all, ease, 0.5s); }
			h3 { display: inline-block; vertical-align: middle; font:24px/28px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; letter-spacing: .3px; margin-bottom: 30px; }
			p, a { color:$wgrey; font:14px/19px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; letter-spacing: .7px; }
			a { margin-top: 20px; display: inline-block; border-bottom:1px solid #fff; @include single-transition(all, ease, 0.2s); }
			a:hover { border-bottom:1px solid $wgrey; }
			a:before { content: 'Read more...'; }
		}

		.image { display: inline-block; vertical-align: top; width:49%;
			img { max-width: 100%; }
		}
		&:hover {
			.date { opacity: 1; }
			.text img { opacity: 1; }
		}

	}
	.right .text { padding-left: 150px; padding-right: 30px; }

}

.w1 { width: 560px; height: 350px; z-index: 300; margin-left: 650px; }
.w2 { width: 380px; height: 490px; z-index: 100; margin-left: 100px; }
.w3 { width: 440px; height: 520px; z-index: 300; margin-left: 50px; }
.w4 { width: 600px; height: 410px; z-index: 100; margin-left: 100px; }
.w5 { width: 350px; height: 370px; z-index: 100; margin-left: 150px; margin-top: 50px }

.thumb { background: aqua; width: 21%; height: 280px; z-index: 100; margin-top: 5%;
	img { width: 100%; height: auto; }
}

@media all and (max-width: 520px) {
	body { max-width: 100%; }
	body, a, p, li, h1, h2, h3 { font:14px/20px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; }
	.logo { font:10px/16px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; font-weight: normal; top:30px; }
	#nav  { max-width:100%; width:100%; margin-bottom: 10px;
		&.top { top:20px; }
		nav { max-width:100%; width:100%; }
		nav > ul { text-align: center; }
	}
	#intro .swipe h2 { font-size: 14px; padding: 10px 20px; }
	#next, #prev { display: none; }
	#page .projects #container { width:100%; }
	.w1, .w2, .w3, .w4, .w5 { margin: 0; max-width: 100%; overflow: hidden;
		img { width:100%; }
	}
	footer { display: none; }
	.projects { margin-top: -10px !important; }
	.project { margin-top: -10px !important;
		.textwrap { position: relative; margin-bottom: 50px; top: inherit;
			.category { text-align: center; margin: 0 0 20px 0; }
			.text { width: 100%;
				div { width: 100%; }
				div h1 { text-align: center; }
			}
			.info { display: none; }
		}
	}
	#page .project { margin-top: 0; }
	.project .images { width:100%; margin-left:0;
		.two, .one { margin-bottom: 0; }
		.two div { width: 45%; }
		.two div:first-child { margin-right: 25px; }
		img { width:100%; }
	}
	.practice { width:100%; margin-left: 0 !important;
		nav { display: none; }
		#studio:before { content:"Studio"; font:16px/22px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; color:#000; text-align: center; width: 100%; }
		#people:before { content:"People"; font:16px/22px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; color:#000; text-align: center; width: 100%; }
		#awards:before { content:"Awards"; font:16px/22px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; color:#000; text-align: center; width: 100%; }
		#publications:before { content:"Publications"; font:16px/22px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; color:#000; text-align: center; width: 100%; }
		#contact:before { content:"Contact"; font:16px/22px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; color:#000; text-align: center; width: 100%; }

		#studio .left, #studio .right { width:100% !important; padding-right: 0px;

			h3 { font: 15px/21px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif !important; }
			img { max-width: 100%; }
		}
		#people .person { width:100% !important; padding-right: 0; }
		#awards ul li {
			span { display: block; color: #000; }
		}
		#publications .press { width:100% !important; padding-right: 0;
			h4 { margin-bottom: 10px; }
		}

	}
	.news { margin-top: 0 !important;
		.full { margin-bottom: 10px;
			.image { width: 100%;
				h2 { left:0px; margin-top: -20px; position: absolute; font-size: 16px !important; padding: 0; width: 100%; text-align: center; background: transparent !important; }
				img { margin-top: 15px; }
			}
		 	.text { margin-top: 10px;
		 		.profile { width:100%; padding: 0; margin-bottom: 15px;
					p { opacity: 1; display: inline-block; width: 60%; padding: 10px 10px 0; font-size: 12px; margin-bottom: 0; vertical-align: top; }
					img { display: inline-block; width: 25%; }
			 	}
			 	.intro { width:100%; padding: 0;
					p, a { font:14px/19px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; }
					a.more { margin: 0 0 20px 0; border-bottom: 1px solid #ccc; }
			  	}
			}
		}
		.left, .right { margin-bottom: 50px;
			.text { width: 100%; padding: 0;
				.date { opacity: 1;  padding-left: 65px; margin-bottom: 0; font-size: 10px; }
				img { margin:0; opacity: 1; }
				h3 { padding-left:10px; font:16px/22px 'Graphik-Regular', 'Helvetica-Neue', arial, sans-serif; margin-bottom: 0px; }
				p { margin-top: 10px; }
			}
			.image { width: 100%; margin: 10px 0 0 0;
				img { max-width: 100%; }
			}

		}

	}

}
@media all and (min-width: 521px) and (max-width: 1360px){
	#nav nav, .practice ul.menu { max-width: 1100px; }
	#page .projects #container { width: 100%; padding: 20px; overflow: visible; }
	.project .text { max-width: 1100px; }
	.w1 { margin-left: 400px; }
	.w2 { margin-left: 50px; }
	.w3 { margin-left: 0px; }
	.w4 { margin-left: 0px; }
	.w5 { margin-left: 50px; margin-top: 50px }
	.news .full .text .profile { padding-right: 50px; }
}

@media all and (max-width: 1150px ) {
	#nav nav, .project .text, .practice ul.menu { max-width: 90%; }
	.project .images .one { margin-bottom: 20px;
		img { max-width: 100%; }
	}
	.project .images .two { margin-bottom: 20px;
		div:first-child { margin-right: 9%; }
		div { width: 45%; }
	}
	.news .full .text .profile { padding-right: 20px; }
	.news .left .text { padding: 30px 45px 0; }
	.news .right .text { padding: 0 20px 0px 90px; }
	.news .left .image, .news .right .image { padding-top: 10%; }
}

@media all and (max-width: 850px ) {
	.news .full .text {
		.profile { padding-right: 50px; padding-left: 0; }
		.intro { width: 69%; padding-left: 50px; }
	}
	.news .left, .news .right { width: 100%;
		.image { padding-top: 40px; }
	}
	.news .left .text, .news .right .text  { padding: 30px 45px 0 0;
		.date { opacity: 1; display: inline-block; margin-bottom: 30px; }
		img { opacity: 1; margin: 0; float: right; margin-top:-10px;  }
	}
	.news .right .text { padding: 30px 0 0 45px; }
	.news .full .image { width: 100%; }

	footer #footer { padding-left: 0; font-size: 14px !important; }
	.practice #studio {
		.left { width:90%; }
		.right { display: none; }
	}
}